.app__form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.app__cards {
	margin-top: 0px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
@media screen and (max-width: 900px) {
	.app__cards {
		justify-content: space-evenly;
		margin-top: 20px;
	}
}
@media screen and (max-width: 500px) {
	.app__form {
		flex-direction: column;
	}
}
