.app__form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.app__cards {
	margin-top: 0px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
