.card__image {
	width: 280px;
	height: 181px;
	object-fit: cover;
	border-radius: 10px;
}
.card {
	max-width: 280px;
	margin-top: 30px;
}
.card__title {
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 100%;
	word-break: break-all;
}
.card__subtitle {
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 100%;
	color: #767676;
}
