.Photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.Photo-title {
	font-weight: bold;
	font-size: 25px;
	width: 70%;
	text-align: center;
	align-self: center;
	line-height: 130%;
	word-break: break-word;
}
.Photo-subtitle {
	text-align: left;
	margin-bottom: 0px;
	color: #767676;
	align-self: center;
	font-size: 20px;
	text-align: center;
}
@media screen and (max-width: 600px) {
	.Photo-title {
		font-size: 17px;
	}
}
@media screen and (max-width: 450px) {
	.Photo-title {
		font-size: 13px;
	}
}
@media screen and (max-width: 600px) {
	.Photo-subtitle {
		font-size: 15px;
	}
}
/* @media screen and (max-width: 450px) {
	.Photo-subtitle {
		font-size: 10px;
	}
} */
.Photo-link {
	text-align: center;
	top: 0px;
	margin-bottom: 30px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	width: 100px;
	align-self: center;
	background-color: rgba(219, 83, 83, 0.993);
	border-radius: 20px;
	opacity: 1;
	transition: background-color .5s ease-in-out;
	padding-left: 5px;
	padding-right: 5px;
}
.Photo-link:hover {
	background-color: red;
}

.Photo-image {
	
	
	border-radius: 20px;
}
.Photo-download-btn{
	width: 150px;
	height: 30px;
	border-radius: 20px;
	border:none;
	background-color: rgba(219, 83, 83, 0.993);
	align-self: center;
	margin-top: 30px;
	font-size: 15px;
	cursor: pointer;
	transition: background-color.5s ease-in-out;
}
.Photo-download-btn:hover{
	background-color: red;
}
